# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Arquivos de saida gerados pelo app (testes locais)
*_comprimido.pdf
/__pycache__
